# C++ build artifacts
*.o
*.obj
*.exe
*.out
*.app
*.a
*.lib
*.so
*.dylib
*.dll
*.pdb
*.ilk
*.exp
*.idb
*.ipch

# Executable and binary files
*.bin
*.hex
*.elf
main

# CMake build folders
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
cmake-build-debug/
build/
cmake-build-build/
cmake-build-release/

*.swp
*.swo
*.*~
*.tmp
*.bak
*.autosave
*.cache
*.log

.DS_Store
.AppleDouble
.LSOverride

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini


.idea/
*.iml
vcpkg/
vcpkg_installed